<a href="https://colab.research.google.com/github/Juangg852/Micro_Cred_Winter_2022/blob/main/Python/Class_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
Fav_Foods = ['pizza','apple', 'mango','banana','empanada']
for x in Fav_Foods:
  print(x+", is one fav foods")
print("I like food")

pizza, is one fav foods
apple, is one fav foods
mango, is one fav foods
banana, is one fav foods
empanada, is one fav foods
I like food

In [17]:
nums = list(range(0,11, 2))
print(nums)
print(min(nums))
print(max(nums))
sum(nums)

[0, 2, 4, 6, 8, 10]
0
10

30

In [23]:
odd_nums = list(range(1,20, 2))
print(odd_nums)
even_nums = list(range(2,21, 2))
print(even_nums)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [37]:
#testing equality and inequality
things = ['lol','XD','lmao',]
adding = 'OMG'
for x in things:
  if x == 'XD':
    print('true')
  else:
    print("its not there there")
if adding != 'lol':
  print('you need it')

its not there there
true
its not there there
you need it

In [41]:
#numericanl test
x=10
if x > 5:
  print("True")
if x < 20:
  print('True too')
if x != 12:
  print("also true")
if x >= 8:
  print("hi")

True
True too
also true
hi

In [48]:
#usiing "and" and "or"
x = 10
y = 10
z = 5
if x == 10 and y == 10:
  print("truee")
if x == 30 or z == 5:
  print("yes!")

truee
yes!

In [50]:
#testing "in" and "not in"
names = ['lol','lmao','xD']
if 'lol' in names:
  print("trueee")
if 'LOL' not in names:
  print('not in here')

trueee
not in here

In [56]:
toppings = ['1','2']
for x in toppings:
  if x == '1':
    print('lol')
  else:
      print('lamo')

lol
lamo