<a href="https://colab.research.google.com/github/Juangg852/Micro_Cred_Winter_2022/blob/main/Python/Unit3_NumPy_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 3 - Advanced Python - NumPy - Assingment #1

## 1. Environment Set up

In [4]:
#Dataset from summer Olympic London, year 2012
import numpy as np
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

import numpy as np
result = np.where(np_olympic_country_Gold == np.amax(np_olympic_country_Gold))
result1 = np.where(np_olympic_country_Gold == np.amin(np_olympic_country_Gold))
print(result1,result)
print(np_olympic_country[result])

(array([5]),) (array([3]),)
['US']

## 2.	Find country with maximum and mid gold gold

In [24]:
print(np_olympic_country[result],"with {} gold medals".format(np.amax(np_olympic_country_Gold))) 
print(np_olympic_country[result1],"with {} gold medals".format(np.amin(np_olympic_country_Gold)))

['US'] with 46 gold medals
['JPN'] with 7 gold medals

## 3.	Find countries with more than 20 gold medals

In [17]:
result2 = np.where(np_olympic_country_Gold >= 20)
print(result2)
print("The countries with 20 or more medals are {} with {} respectively".format(np_olympic_country[result2],np_olympic_country_Gold[result2]))

(array([0, 1, 2, 3]),)
The countries with 20 or more medals are ['GBR' 'China' 'RUS' 'US'] with [29 38 24 46] respectively