<a href="https://colab.research.google.com/github/Juangg852/Micro_Cred_Winter_2022/blob/main/Python/Assignments/Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [2]:
lol = [2,4,5,6,7]

## 2.	Print out those variables by using a for loop

In [14]:
lol = [2,4,5,6,7]
for i in lol:
  print(i)

2
4
5
6
7

## 3.	Modify your for loop to add a message to your for loop.

In [15]:
lol = [2,4,5,6,7]
for i in lol:
  print(str(i), "are numbers")

2 are numbers
4 are numbers
5 are numbers
6 are numbers
7 are numbers

## 4.	Use a for loop to print even numbers from 1-20.

In [16]:
for i in range(0,21, 2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [17]:
LST = ["lol", "xD", "SQL","lmao", "opgg"]
print(sorted(LST))

['SQL', 'lmao', 'lol', 'opgg', 'xD']

## 6.	Print out the first three elements of your list.

In [20]:
LST = ["lol", "xD", "SQL","lmao", "opgg"]
print(LST[:3])

['lol', 'xD', 'SQL']

## 7.	Create a loop to print the last 2 elements of your list.

In [21]:
LST = ["lol", "xD", "SQL","lmao", "opgg"]
for i in LST:
  print(i)

lol
xD
SQL
lmao
opgg